.hero {
  height: 95vh;
  display: flex;
  flex-direction: column;
  justify-content: end;
  margin-bottom: 3em;

  @include respond(mobile) {
    height: auto;
    align-items: center;
    text-align: center;
    justify-content: start;
    padding-top: 1em;
    margin-bottom: 0;
  }

  &__logo {
    height: 3.5em;
    transform: translateY(2rem);

    @include respond(mobile) {
      transform: translateY(1em);
    }
  }

  &__sub-text {
    color: $color-heading;
    font-size: 1.6rem;
    font-weight: 400;
    padding-top: 0.5em;

    @include respond(mobile) {
      display: none;
    }
  }
}

.scroll-down {
  padding-top: 10vh;
  padding-bottom: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  text-decoration: none;
  color: none;

  @include respond(mobile) {
    display: none;
  }
}

.mouse {
  width: 2.5rem;
  height: 5rem;
  border: 2px solid $color-brand;
  border-radius: 2rem;
  margin-bottom: 0.5rem;
  display: flex;
}

.mouse span {
  width: 1rem;
  height: 1rem;
  background-color: $color-brand;
  display: block;
  border-radius: 50%;
  margin: auto;
  animation: move-wheel 1s linear infinite;
}

.arrow span {
  display: block;
  width: 1rem;
  height: 1rem;
  border: 2px solid transparent;
  border-right-color: $color-brand;
  border-bottom-color: $color-brand;
  transform: rotate(45deg);
  animation: arrow-down 0.5s alternate infinite;
}

@keyframes move-wheel {
  0% {
    opacity: 0;
    transform: translateY(-1rem);
  }
  100% {
    opacity: 1;
    transform: translateY(1rem);
  }
}

@keyframes arrow-down {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 0.25;
  }
  50% {
    opacity: 0.5;
  }
  75% {
    opacity: 0.75;
  }
  100% {
    opacity: 1;
  }
}

.animate-left {
  animation-name: moveInRight;
  animation-duration: 1s;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
  backface-visibility: hidden;
}

.animate-right {
  animation-name: moveInLeft;
  animation-duration: 1.5s;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
  backface-visibility: hidden;
}

.animate-bottom {
  animation-name: moveInBottom;
  animation-duration: 2s;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
  backface-visibility: hidden;
}

.animate-top {
  animation-name: moveInTop;
  animation-duration: 3s;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
  backface-visibility: hidden;
}
