.profile {
  display: grid;
  margin-top: 3em;
  gap: 4em;
  grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));

  @include respond(mobile) {
    text-align: center;
  }
}

.profile-gap {
  margin-bottom: 2em;
}
