body {
  font-family: 'Raleway', sans-serif;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.6em;
  color: $color-primary;
}

h1 {
  font-family: 'Playfair Display', serif;
  font-size: 10.5rem;
  font-weight: 700;
  line-height: 0.8em;
  letter-spacing: -0.05em;
  color: $color-heading;

  &:last-of-type {
    padding-bottom: 0.2em;
  }

  @include respond(mobile) {
    font-size: 8.1rem;
  }
}

h2 {
  font-size: 4.1rem;
  font-weight: 300;
  color: $color-brand;

  @include respond(mobile) {
    font-size: 3.8rem;
  }
}

h3 {
  font-size: 1.6rem;
  font-weight: 700;
  letter-spacing: -0.05em;
  color: $color-heading;
}

p {
  letter-spacing: 0.08em;
}

ul {
  list-style: none;
  letter-spacing: 0.08em;
}

.profile__cta-text {
  font-size: 2.6rem;
  font-weight: 300;
  margin-bottom: 1rem;
  color: $color-brand;
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 2.4rem; /* Preferred icon size */
  display: inline-block;
  vertical-align: bottom;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}

a {
  text-decoration: none;
  text-emphasis: none;
  color: $color-primary;
}
